/* POPPINS FONT FAMILY */


* {
  font-family: Poppins, sans-serif;
  margin: 0;
}
body {
  background-color: #f8f8fa;
}
/* ----- main header ----- */
header {
  background-color: blue;
  height: 80vh;
}
nav {
  float: right;
  margin-top: 50px;
  margin-right: 40px;

}
.nav-item {
  margin-right: 20px;
  color: white;
  margin-top: 50px;
  font-weight: 300;
  font-size: 17px;
}
.nav-item-active {
  background-color: #fff;
  color: rgb(49, 49, 155);
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 10px;
}
.logo {
  margin-left: 60px;
  margin-top: 50px;
  width: 150px;
}

.header-image {
  float: right;
  margin-top: -250px;
  width: 600px;
}
.header-text {
  color: white;
  margin-top: 150px;
  margin-left: 60px;
}
.header-text h2 {
  font-size: 50px;
  line-height: 70px;
}
.header-text p {
  line-height: 70px;
}
svg{
  display: none;
}
/* ----- company tags ----- */
.companies {
  margin-left: 40px;
  margin-top: 30px;
  
}
.company-items {
  color: black;
  font-size: 25px;
  font-weight: 400;
  font-size: 35px;
  text-decoration: none;
  font-family: Righteous;
  margin-right: 25px;
}
/*{ ---- API part ____ */
.api-heading {
  color: black;
  font-size: 60px;
  font-weight: 800;
  margin-left: 60px;
  margin-top: 100px;
 
}
/* ---- cards\part ---- */
.cards {
  display: flex;
  margin-left: 60px;
  margin-top: 50px;
}
.card-active {
  background-color: white;
  height: 250px;
  width: 180px;
  margin-right: 25px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px black;
}
.card-head-active {
  color: blue;
  font-size: 22px;
}
.card-body {
  font-size: 14px;
}
.card-logo {
  width: 55px;
  margin-top: 20px;
  margin-bottom: 20px;
}
/* ---- all cards ----- */
.card {
  background-color: rgba(219, 224, 206, 0.274);
  height: 250px;
  width: 180px;
  margin-right: 25px;
  padding: 20px;
  border-radius: 10px;
}

.side-arrow h1{
  color: white;
  background-color: rgba(0, 0, 255, 0.829);
  border-radius: 50%;
 text-align: center;
 font-size:40px ;
 padding: 0px 15px;
 margin-top: 100px;
 margin-left: 40px;

}
/* ---- blog section ---- */
.blog-heading h1 {
  font-size: 60px;
  margin-top: 100px;
  margin-left: 60px;
  font-weight: 800;
  
}
/* ---- blog cards ---- */
.blog-cards {
 margin: 0px 100px;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  
}

/* ---- blog card ----- */
.blog-card {
  display: flex;
  list-style: none;
  font-size: 15px;
  margin-left: -40px;
  position: relative;
}
.blog-content {
  margin: 20px 0px 0px 50px;
  
}
.blog-content h6 {
  color: blue;
  font-size: 15px;
}
.blog-content h3 {
  font-size: 20px;
}
.blog-content small{
  font-size: 15px;
}
.blog-bottom{
 
  position: absolute;
  left: 300px;
  bottom: -20px;
  background-color: #fff;
  border-radius: 50%;
}
div.blog-author{
  position: absolute;
  left: 370px;
  bottom: 5px;
  
  
}
/* ----- faq section ----- */
.faq-section {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  background-color: #e9edff;
  height: 325px;
}
.faq-content {
  margin-left: 60px;
}
.faq-content h2 {
  font-size: 35px;
  font-weight: 800;
 
}
.faq-content h4 {
  margin-top: 15px;
  font-size: 15px;
  color: rgb(109, 109, 109);
  line-height: 30px;
  font-weight: 500;
}
.faq-content h2 ~ h4:not(:first-of-type) {
  color: black;
  font-size: 20px;
  margin-top: 20px;
}
.faq-content button {
  margin-top: 20px;
  background-color: blue;
  border: none;
  padding: 10px 15px;
  border-radius: 10px;
  color: white;
}
/* ----- downlad now ------ */
.download-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 7rem 0px 7rem 0px;
  position: relative;
}
.download-content h1 {
  margin-left: 60px;
  font-size: 40px;
  font-weight: 800;
}
.download-content h1 span {
  font-size: 30px;
  text-shadow: none;
}
.download-email {
  margin-right: 60px;
}
.download-email input {
  background-color: #e9edff;
  border-radius: 30px;
  border: none;
  height: 55px;
  width: 400px;
  padding: 0px 30px;
  font-size: large;
}
.download-email button {
  background-color: blue;
  border: none;
  color: white;
  border-radius: 30px;
  padding: 15px 15px;
  position: relative;
  right: 105px;
  bottom: 2px;
}
/* ----- Footer section ------0 */
.footer-section {
  display: flex;
  justify-content: space-between;
  background-color: #481afe;
  
  color: white;
  padding: 70px 60px;
  line-height: 50px;
}
/* ----- foter left ------ */
.footer-left {
  margin-left: 0;
}
.footer-logo {
  width: 150px;
}
.list {
  display: flex;
  list-style: none;
  font-size: 15px;
  margin-left: -40px;
}
.list-items {
  margin-right: 20px;
  text-align: -webkit-match-parent;
}
/* ----- footer right side ------- */
.footer-logos {
  margin-right: 16px;
}
.logos-list {
  display: flex;
  list-style: none;
  margin-left: -40px;
}

/* ---------media quires---------- */
@media only screen and (max-width:1380px) {
  .header-image {

    width: 450px;
  }
  .header-text h2 {
    font-size: 40px;
   
  }
  .header-text p {
    line-height: 70px;
  }
  .company-items{
    font-size: 25px;
  }
  
.blog-content h3 {
  font-size: 15px;
}
.blog-content small{
  font-size: 11px;
}
  
}
@media only screen and (max-width:1080px) {
  .api-heading{
    font-size: 40px;
  }
  .blog-cards{
    flex-wrap: wrap;
  }
  .faq-section .blog-cards-2{
   display: none;

  }
  .faq-content h2 {
    font-size: 29px;
    font-weight: 800;
   
  }
  .faq-content h4 {
  
    font-size: 13px;
    line-height: 20px;
  }
  .cards {
    flex-wrap: wrap;
  }
  .header-image {
    
    margin-top: -300px;
    width: 400px;
  }
  .header-text {
    
    margin-top: 100px;
    margin-left: 40px;
    max-width: 23rem;
  }
  .header-text h2 {
    font-size: 30px;
    line-height: 30px;
  }
  .header-text p {
    line-height: 30px;
  }

}
@media only screen and (max-width:780px){
  .header-text h2 {
    font-size: 20px;
    
   
   
  }
  .header-image{
    margin: -180px 20px 0px 20px;
    width: 250px;
  }
  .nav-item{
    font-size: 12px;
  }
  .logo{
    width: 100px;
  }
  .download-email form{
    
  }
  .footer-right .footer-logos{
    
  }
  .footer-left{
    max-width: 0px;
  }
  .download-email{
    

  }
  .download-section{
    flex-direction: column;
  }
  
}
@media only screen and (  max-width:660px){
  .logos-list,.list{
   flex-direction: column;
  }
  @media only screen and (  max-width:660px){
  .header-image{
    display: none;
  }
}
}
@media only screen and (max-width:500px) {
  .header-text h2 {
    font-size: 20px;
   line-height: 25px;
   font-weight: 600;
   
  }
  .header-text p{
    line-height: 25px;
  }
  .header-text img {
    display: none;

  }
  svg{
    display: block;
    margin: -40px 20px 0px 0px;
  }
  .header-text{
    margin-top: 300px;
  }
  .header-image {
    display: block;
    margin: -380px 20px 0px 20px;
    width: 300px;
  }
  .nav-item{
    display: none;
  }
  .nav-item-active{
    display: none;
  }
  .logo {
    margin-left: 20px;
    margin-top: 10px;
    width: 100px;
  }
  
  .cards{
    
    flex-wrap: wrap;
    gap: 10px;
  }
  .blog-cards{
    flex-wrap: wrap;
  }
  .download-section {
    flex-direction: column;
  }
  .download-email button { 
    left: 10px;
    
  }
  .download-email input {
    
    height: 55px;
    width: 250px;
    padding: 0px 30px;
    font-size: 15px;
  }
  .footer-logo {
    width: 100px;

}
.footer-section {
  height: 30vh;
  padding: 70px 10px;
  line-height: 50px;
}
.list {
  flex-direction: column;
  margin-left: -40px;
}
.blog-card {
 flex-direction: column;
}
.blog-heading h1{
  font-size: 40px
}
.blog-bottom ,div.blog-author{
 
  display: none;

}
.logos-list{
  flex-direction: column;
}
.company-items{
  font-size: 20px;
}
}

  
  
  
   
   
    
    
  

